

.contact-section {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.contact-info-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-info-box h2 {
    color: #ae1d22;
    margin-bottom: 15px;
}

.contact-info-box p {
    font-size: 18px;
    margin: 8px 0;
}


/* Application form */
.application-section {
    max-width: 700px;
    margin: 40px auto;
    padding: 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.application-section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ae1d22;
}

.application-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.application-form input[type="text"],
.application-form input[type="email"],
.application-form input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.radio-group label {
    margin-right: 20px;
    font-size: 17px;
}

.submit-btn {
    background: #ae1d22;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;
}

.submit-btn:hover {
    background: #8d171b;
}
