table {
        border-collapse: collapse;
        margin-top: 10px;
      }
      td {
        border: 1px solid black;
        padding: 8px;
        text-align: center;
        color: transparent;
        cursor: pointer;
        background-color: lightgray;
      }

      td.locked {
        color: black;
      }

tr:nth-child(odd) td.locked {
    background-color: lightblue;
}

tr:nth-child(even) td.locked {
    background-color: palegreen;
}
