
      table {
        border-collapse: collapse;
        margin: 20px auto;
      }
      td {

        padding: 15px;
        width: 40px;
        height: 40px;
        border: 1px solid #555;
        text-align: center;
        vertical-align: middle;
      }

      /* Home Colors */
      .red {
        background: #ff5c5c;
      }
      .green {
        background: #6ee36e;
      }
      .blue {
        background: #5cb3ff;
      }
      .yellow {
        background: #fff37a;
      }

      /* Path Colors */
      .path-red {
        background: #ffb3b3;
      }
      .path-green {
        background: #b7ffb7;
      }
      .path-blue {
        background: #b7d9ff;
      }
      .path-yellow {
        background: #fff7bd;
      }
      .path-grey {
        background: #bdbbbb77;
      }

      /* Token circles */
      .token {
        
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin: auto;
        margin-top: 7px;
      }
      .token-red {
        background: #b30000;
      }
      .token-green {
        background: #009900;
      }
      .token-blue {
        background: #4f98e0;
      }
      .token-yellow {
        background: #d4b200;
      }
    