* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frame {
  width: 750px;
  height: 750px;
  margin: 70px auto;
}

.wrapper1 {
  width: 94%;
  height: 100%;
  float: left;
}

.wrapper2 {
  width: 6%;
  height: 100%;
  float: right;
}

.box2 {
  height: 80.2%;
  width: 100%;
  background-color: antiquewhite;
  border-left: 5px solid #333;
  border-bottom: 5px solid #333;
}
.box2-1 {
  height: 19.8%;
  width: 100%;
  background-color: aquamarine;
  border-left: 5px solid #333;
  border-top: 5px solid #333;
}

.wrapper3 {
  width: 100%;
  height: 10%;
}
.box3-1 {
  height: 100%;
  width: 25%;
  background-color: lightblue;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  float: left;
}
.box3-2 {
  height: 100%;
  width: 41%;
  background-color: lightcoral;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-left: 5px solid #333;
  float: inline-start;
}
.box3-3 {
  height: 100%;
  width: 34%;
  background-color: lightgreen;
  border-left: 5px solid #333;
  border-bottom: 5px solid #333;
  border-right: 5px solid #333;
  float: right;
}
.wrapper4 {
  width: 100%;
  height: 90%;
  float: left;
}
.wrapper5 {
  width: 15%;
  height: 100%;
  float: left;
}
.wrapper6 {
  width: 85%;
  height: 100%;
  float: right;
}
.wrapper7 {
  width: 100%;
  height: 60%;
  float: left;
}
.wrapper7-1 {
  height: 100%;
  width: 60%;
  float: left;
}
.box7-1-1 {
  height: 100%;
  width: 100%;
  background-color: rebeccapurple;
  border: 5px solid #333;
  float: left;
}
.wrapper7-2 {
  height: 100%;
  width: 40%;
  float: right;
}
.box7-2-1 {
  height: 50%;
  width: 100%;
  background-color: lightsteelblue;
  border: 5px solid #333;
  float: left;
}
.box7-2-2 {
  height: 50%;
  width: 50%;
  background-color: lightgoldenrodyellow;
  border: 5px solid #333;
  float: left;
}
.box7-2-3 {
  height: 50%;
  width: 50%;
  background-color: lightcyan;
  border: 5px solid #333;
  float: right;
}
.wrapper8 {
  width: 100%;
  height: 40%;
  float: left;
}
.wrapper8-1 {
  height: 100%;
  width: 30%;
  float: left;
}
.box8-1-1 {
  height: 70%;
  width: 100%;
  background-color: lightseagreen;
  border: 5px solid #333;
}
.box8-1-2 {
  height: 30%;
  width: 100%;
  background-color: lightpink;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-left: 5px solid #333;
}
.wrapper8-2 {
  height: 100%;
  width: 70%;
  float: right;
}
.wrapper8-2-1 {
  height: 90%;
  width: 100%;
}
.wrapper8-2-1-1 {
  height: 100%;
  width: 42.8%;
  float: left;
}
.box8-2-1-1-1 {
  height: 49.9%;
  width: 100%;
  background-color: lightcoral;
  border: 5px solid #333;
}
.box8-2-1-1-2 {
  height: 50.1%;
  width: 100%;
  background-color: lightblue;
  border: 5px solid #333;
  border-bottom: 59px solid #333;
}
.wrapper8-2-1-2 {
  height: 100%;
  width: 57.2%;
  float: right;
}
.box8-2-1-2-1 {
  height: 49.9%;
  width: 100%;
  background-color: lightgreen;
  border: 5px solid #333;
}
.box8-2-1-2-2 {
  height: 50.1%;
  width: 100%;
  background-color: lightyellow;
  border: 5px solid #333;
}
.wrapper8-2-2 {
  height: 10%;
  width: 100%;
}
.box8-2-2-2 {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-left: 5px solid #333;
}

.box5-1 {
  height: 30%;
  width: 100%;
  background-color: lightgray;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
}
.box5-2 {
  height: 48%;
  width: 100%;
  background-color: lightyellow;
  border-right: 5px solid #333;
  border-bottom: 5px solid #333;
  border-top: 5px solid #333;
}
.box5-3 {
  height: 22%;
  width: 100%;
  background-color: lightpink;
  border-right: 5px solid #333;
  border-top: 5px solid #333;
}
