.category-list {
    margin-left: 250px;
    font-size: 20px;
    color: #3d3d3d;
    line-height: 1.8;
}

.category-list > li {
    margin-bottom: 20px;
    font-weight: bold;
    color: #ae1d22;
}

.category-list ul {
    margin-top: 8px;
    margin-left: 25px;
    list-style-type: disc;
}

.category-list ul li {
    font-weight: normal;
    color: #555;
}
