
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.frame {
  width: 540px;
  height: 545px;
  margin: 150px auto;
  border: 7px solid #333;
}

.box1 {
  height: 31%;
  width: 27%;
  float: left;
  background-color: #fef9e6;
  border-right: 5px solid #333 ;
  border-bottom: 15px solid #333 ;
}

.box2 {
    height: 41%;
    width: 27%;
    float: left;
    background-color: #fef9e6;
    border-top: 10px solid #333 ;
    border-right: 5px solid #333 ;
    border-bottom: 8px solid #333 ;
}

.box3 {
    height: 72%;
    width: 73%;
    float: right;
    background-color: #ec4938;
    border-bottom: 5px solid #333;
    border-left: 5px solid #333 ;
}

.box4 {
    height: 28%;
    width: 27%;
    float: left;
    background-color: #409cc5;
    border-right: 5px solid #333 ;
    border-top: 5px solid #333 ;
}

.box5 {
    height: 28%;
    width: 69%;
    float: left;
    background-color: #fef9e6;
    border-top: 5px solid #333 ;
    border-right: 5px solid #333 ;
    border-bottom: 1px solid #333 ;
    border-left: 5px solid #333 ;
}

.box6 {
    height: 14%;
    width: 4%;
    float: right;
    background-color: #fef9e6;
    border-top: 5px solid #333 ;
    border-left: 5px solid #333 ;
    border-bottom: 10px solid #333 ;
}

.box7 {
    height: 14%;
    width: 4%;
    float: right;
    background-color: #ffff00;
    border-top: 15px solid #333 ;
    border-left: 5px solid #333 ;
}